.header-video{
    height: 350px;
   width: 500px;
   border-radius: 10px;
  
}
.header-video-main-container{
    display: flex;

}
.header-video-container{
    position: relative;
    width: 500px;
}
.right-arrow{
    height: 40px;
    position: absolute;
    right: 10px;
    top: 150px;
}
